# GeoSpatial 0: Trying out some pandas basics
---

## A. Set-up Jupyter Notebook & time series dataset

> **A0.** Import the third-party packages pandas, numpy, and the matplotlib.pyplot submodule with conventional aliases.
>```
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
```

>**A1.** For autocompletion, or if it's not working, try running this magic command. 
>```
%config Completer.use_jedi = False
```

>**A2.** Read-in the dataset `"Py4EE_GeoSpatial0_data.csv"`, and assign to `raw_data`. 
>```
raw_data = pd.read_csv("Py4EE_GeoSpatial0_data.csv")
```

>**A3.** Make a copy of `raw_data` called `df`.
>```
df = raw_data.copy()
```

---
## B. Inspect the data

>**B0.** Have a look at the `DataFrame`, using `head()` to display the first 5 rows.
>```
df.head()
```

>**B1.** Now try using `tail()` to display the last 5 rows.
>```
df.tail()
```

>**B2.** Find out the dimensions of `df`, i.e. the number of rows and columns in the `DataFrame`.
>```
df.shape
```

<font color='green'>***B2. Interpretation***    
*- This dataset has 123 rows and 13 columns.*

>**B3.** See what type of data (`dtype`) pandas inferred was in each column when it originally read-in the `Py4EE_GeoSpatial0_Data.csv`.
>```
df.dtypes
```

>**B4.** Try selecting a single column with a specific name. 
>```
df["2022"]
```

>**B5.** Now try selecting multiple columns with specific names. 
>```
df[["2011", "2015", "2022"]]
```

>**B6.** Have a look at the first column in `df`, using `iloc.`
>```
df.iloc[ : , 0]
```

>**B7.** Let's use the `rename()` method to rename the `"GHGRP_ID"` column to `"ID"`.
>```
df.rename(columns = {"GHGRP_ID" : "ID"})
```

>**B8.** Have a look at `df` again to check the column names. 
>```
df
```

>**B9.** Re-create the value from `B7.` but this time assign it to the variable `df`.
>```
df = df.rename(columns = {"GHGRP_ID" : "ID"})
```

>**B10.** Now check `df` again.
>```
df
```

>**B11.** Try using the `plot()` method to visualise `df`.
>```
df.plot()
```

>**B12.** Let's set the `"ID"` column as the index (row labels) of the `df`. Remember the index of a DataFrame is a series of labels that identify each row.
>```
df.set_index("ID", inplace=True)
```

>**B13.** Now try transposing `df` via it's `T` property.
>```
df.T
```

>**B14.** Now create a time series line plot of `df` using the transposed DataFrame and using the `legend` keyword to not place a legend on the plot. 
>```
df.T.plot(legend=False)
```

>**B15.** Let's focus on the last 5 years of this time series, i.e. 2018-2022 inclusive. Perform integer slicing with `iloc` to return a subset of `df`.
>```
df.iloc[ : , -5: ]
```

>**B16.** Let's assign this `df` subset of the last 5 years of data to a new variable `recent_df`.
>```
recent_df = df.iloc[ : , -5: ]
```

>**B17.** Let's create a new column in `recent_df` called `"Cumulative"` that contains the sum of the values in the 5 current columns.
>```
recent_df["Cumulative"] = recent_df.sum(axis=1)
```

>**B18.** Check `recent_df` for the modification.
>```
recent_df
>

>**B19.** Let's drop the individual year columns from `recent_df` so it just has the row labels (index), `"ID"`, and the new `"Cumulative"` column. Perform the operation `inplace`. 
>```
recent_df.drop(columns = recent_df.columns[[0,1,2,3,4]], inplace=True)
>

>**B20.** Check the modified `recent_df`.
>```
recent_df
>

>**B21.** Finally, sort the `"Cumulative"` column from high to low to see which row in `recent_df` has the largest 5-year sum. 
>```
recent_df.sort_values("Cumulative", ascending=False)
>